header {
    background: lightseagreen;
    text-align: center;
    padding-bottom: 5px;
}

h1 {
    padding-top: 10px;
}

.btn-group {
    display: block;
    text-align: left;
    padding-left: 5px;
}

.group {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid lightseagreen;
    margin-top: 5px;
    padding: 0;
}

